<h1>Listing images</h1>

<table>
  <tr>
    <th>Image file</th>
    <th>Imageable</th>
    <th>Imageable type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image_tag image.image_file.url(:thumb) %></td>
    <td><%= image.imageable_id %></td>
    <td><%= image.imageable_type %></td>
    <td><%= link_to 'Show', [@imageable, image] %></td>
    <td><%= link_to 'Edit', [:edit, @imageable, image] %></td>
    <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', [:new, @imageable, :image] %>
